        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{t("client.tabPan")}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{t("client.tabPan")}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{t("client.cin")}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{t("client.cin")}" id="1" [(ngModel)]="item.cin"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validClientCin}"  />
                                                    <small class='p-error' *ngIf='!validClientCin'>Cin est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{t("client.nom")}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{t("client.nom")}" id="2" [(ngModel)]="item.nom"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validClientNom}"  />
                                                    <small class='p-error' *ngIf='!validClientNom'>Nom est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{t("client.tel")}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{t("client.tel")}" id="3" [(ngModel)]="item.tel"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="4">{t("client.email")}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{t("client.email")}" id="4" [(ngModel)]="item.email"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="5">{t("client.adresse")}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{t("client.adresse")}" id="5" [(ngModel)]="item.adresse"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="6">{t("client.description")}</label>
                                                    <textarea id="6" pInputTextarea rows="5" cols="30" placeholder="{t("client.description")}"  [(ngModel)]="item.description"
                                                             ></textarea>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="7">{t("client.creance")}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="7" placeholder="{t("client.creance")}" [(ngModel)]="item.creance"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>



    </p-dialog>
