
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{t("achatItem.tabPan")}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{t("achatItem.tabPan")}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{t("achatItem.produit")}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{t("achatItem.produit")}" autofocus  id="1" [(ngModel)]="item.produit.reference">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{t("achatItem.prixUnitaire")}</label>
                        <p-inputNumber class="mb-2 mr-2" id="2" [disabled]="true" placeholder="{t("achatItem.prixUnitaire")}" [(ngModel)]="item.prixUnitaire"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{t("achatItem.prixVente")}</label>
                        <p-inputNumber class="mb-2 mr-2" id="3" [disabled]="true" placeholder="{t("achatItem.prixVente")}" [(ngModel)]="item.prixVente"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{t("achatItem.quantite")}</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{t("achatItem.quantite")}" [(ngModel)]="item.quantite"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{t("achatItem.quantiteAvoir")}</label>
                        <p-inputNumber class="mb-2 mr-2" id="5" [disabled]="true" placeholder="{t("achatItem.quantiteAvoir")}" [(ngModel)]="item.quantiteAvoir"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{t("achatItem.remise")}</label>
                        <p-inputNumber class="mb-2 mr-2" id="6" [disabled]="true" placeholder="{t("achatItem.remise")}" [(ngModel)]="item.remise"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{t("achatItem.achat")}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{t("achatItem.achat")}" autofocus  id="7" [(ngModel)]="item.achat.reference">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



