
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{t("achat.tabPan")}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{t("achat.tabPan")}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{t("achat.reference")}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{t("achat.reference")}" autofocus  id="1" [(ngModel)]="item.reference">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{t("achat.dateAchat")}</label>
                        <p-calendar id="2" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{t("achat.dateAchat")}"  [(ngModel)]="item.dateAchat" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{t("achat.total")}</label>
                        <p-inputNumber class="mb-2 mr-2" id="3" [disabled]="true" placeholder="{t("achat.total")}" [(ngModel)]="item.total"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{t("achat.totalPaye")}</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{t("achat.totalPaye")}" [(ngModel)]="item.totalPaye"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{t("achat.description")}</label>
                        <textarea id="5" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{t("achat.description")}"  [(ngModel)]="item.description"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{t("achat.client")}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{t("achat.client")}" autofocus  id="6" [(ngModel)]="item.client.nom">
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="{t("achat.achatItems")}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.achatItems" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Produit</th>
                                        <th>Prix unitaire</th>
                                        <th>Prix vente</th>
                                        <th>Quantite</th>
                                        <th>Quantite avoir</th>
                                        <th>Remise</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.produit.reference}}</td>
                                        <td>{{p.prixUnitaire}}</td>
                                        <td>{{p.prixVente}}</td>
                                        <td>{{p.quantite}}</td>
                                        <td>{{p.quantiteAvoir}}</td>
                                        <td>{{p.remise}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



